  body {
    background-color: #b7b6c1;
    colors : #8E5572;
    font-family: 'Lora', serif;
   }

   h1, h2 {
    font-family: 'Poppins', sans-serif;

    }

    h1 {
  color: #8E5572;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 30px;
   }

   h2 {
  color: #bbbe64;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 23px;
   }

  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #BCAA99;
    font-weight: bold;
    }
    a:hover {
      color: #443850;
  }


  .container {
  width: 700px;
  margin: 40px auto;
  }

@media (max-width: 760) {
.container {
  width: 600px;
  }
}
@media (max-width: 500px) {
.container {
  width: 400px;
  }
}


  .card-grey {
    background-color: #e8e8e8;
    padding: 40px;
    box-shadow: 0px 10px 30px rgpa(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
  }

  .img-circle {
  border-radius: 30%;
  }

  .btn-blue {
  background-color: #8E5572;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;

  }

  .btn-blue:hover {
  background-color: #bcaa99;
  color: white;
  }


  .list-inline {
  list-style: none;
  padding-left: 0px;
  }
  .list-inline li {
  display: inline;
  padding: 10px;
  }
  .list-inline i {
  font-size: 50px;
  color :#8E5572;
  }
  .list-inline i:hover {
  color : #bcaa99;
  }

  #intro p {
    margin-bottom: 40px;
  }













